body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('images/fondo.png');
    background-size: cover; /* Cubre todo el viewport */
    background-repeat: no-repeat; /* No repite la imagen */
    background-position: center center; /* Centra la imagen */
    min-height: 100vh; /* Asegura que cubra toda la pantalla */
    overflow-x: hidden; /* Previene desplazamiento horizontal */
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que el fondo cubra toda la página */
    overflow: hidden; /* Previene scroll innecesario */
}



.container {
    margin: 50px auto;
    margin-left: 548px; 
    padding: 40px;
    width: 30%;
    max-width: 400px;
    background: #5a4159d7;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #ffffff;
}

input {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 0.5px solid #7f3793cc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #512474;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #101010;
}

#qrCode {
    margin-top: 20px;
    color: white;
    border-radius: 50px;;

}

#descarga {
    margin-top: 20px; 
    padding: 10px;
    width: 100%; 
    border: none;
    border-radius: 5px;
    background-color: #8121a4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#descarga:hover {
    background-color: #101010;
}



/* Ajustes para pantallas pequeñas (tablets y celulares) */
@media screen and (max-width: 768px) {
    .container {
        margin: 20px auto; /* Centra el contenedor */
        padding: 20px; /* Reduce el padding */
        width: 90%; /* Asegura que ocupe casi todo el ancho */
    }

    input, button, #descarga {
        font-size: 14px; /* Reduce el tamaño del texto */
        padding: 8px; /* Reduce el padding */
    }

    #qrCode {
        max-width: 100%; /* Asegura que el canvas no se desborde */
        border-radius: 10px; /* Reduce el radio de las esquinas */
    }
}

/* Ajustes para pantallas aún más pequeñas (celulares pequeños) */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 18px; /* Reduce el tamaño del título */
    }

    input, button, #descarga {
        font-size: 12px; /* Ajusta el tamaño del texto */
    }

    #qrCode {
        margin: 10px auto; /* Asegura que el canvas esté centrado */
    }
}
